@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat&family=Roboto&family=Roboto+Slab:wght@300&display=swap');


@mixin align-center-text {
    text-align: center;
}

@mixin set-font {
    font-family: 'Roboto', sans-serif;
}

@mixin white-border {
    border: 1px solid white;
}

@mixin set-select-none($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        @if $prefix == "webkit" {
            -#{$prefix}-#{$property}: $value;
            -#{$prefix}-touch-callout: $value;
        }
        @else {
            -#{$prefix}-#{$property}: $value;
        }
    }
    #{$property}: $value;
}

* {
    color: #fff;
    @include set-select-none(user-select, none, webkit moz ktml ms);
}

body {
    background: linear-gradient(to right, rgb(252, 251, 251), #f8f8f8);
    display: flex;
    justify-content: center; 
}

.container {
    width: 90%;
    background: linear-gradient(223deg, #6441a5 0%, 10%, rgb(153, 15, 158) 20%, 80%, #6441a5 90%);
    border-radius: 10px;
    padding: 1em 3em;
    margin: 1em 0;
    box-shadow: .5em 1em 10px rgba(0, 0, 0, 0.5);
    h1 {
        @include align-center-text;
        font-size: 2.6em;
        font-family: 'Fredericka the Great', cursive;
        text-decoration: underline dashed 5px;
        text-underline-offset: 10px;
    }
    p {
        font-size: 1.2em;
        @include set-font;
        margin: 1em 0;
    }
    .personal-info {
        position: relative;
        line-height: 10px;
        p {
            font-family: Montserrat, sans-serif;
            font-size: 1em;
        }
        .right-align {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .heading {
        h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: underline;
        }
        p {
            font-size: 1em;
        }
        table {
            border-collapse: collapse;
            width: 78%;
            tr {
                td {
                    @include set-font;
                    @include white-border;
                    padding: 0 0 0 4px;
                }
                th {
                    @include white-border;
                    font-family: 'Roboto Slab', serif;
                }
                &:last-child {
                    td {
                        &:last-child[colspan="2"] {
                            @include align-center-text;
                        }
                    }
                }
            }
        }
        ul {
            li {
                @include set-font;
            }
        }
    }
}
