$PRIMARY-COLOR: #d13639;
$WHITE: #fefefe;
$label-font-size: 0.8rem;
$content-font-size: 1.1rem;

@font-face {
    font-family: "Mark Pro";
    src: url(../../fonts/FontFont_FF.Mark.Pro.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mark Pro", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.container {
    margin: 2rem 0;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: fit-content;
    background: url(../../static/registration/explore-hero-bg--large.jpg);

    .registration-card {
        &>.form_group {
            color: gray;
            &>.gender-values {
                &>input {
                    &[type="radio"] {
                        accent-color: $PRIMARY-COLOR;
                    }
                }
            }
        }

        &>p {
            display: inline-block;
            font-size: 2rem;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            color: $WHITE;
            text-transform: uppercase;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                width: 105%;
                height: 2px;
                background: #d13639;
            }
        }

        .form_group_slideUp {
            position: relative;
            width: 100%;
            padding: 15px 0 0;
            margin-top: 10px;

            &>input {
                width: 100%;
                border: 0;
                border-bottom: 1px solid $WHITE;
                outline: none;
                font-size: $content-font-size;
                color: $WHITE;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s;

                &::placeholder {
                    color: transparent;
                }

                &:placeholder-shown~label {
                    font-size: $content-font-size;
                    cursor: text;
                    top: 20px;
                }

                &:focus {
                    ~label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: $label-font-size;
                        color: gray;
                    }

                    padding-bottom: 6px;
                    border-bottom: 2px solid $PRIMARY-COLOR;
                }
            }

            &>label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: $label-font-size;
                color: gray;
            }
        }
    }
}