$PRIMARY-COLOR: #d13639;
$WHITE: #fefefe;
$label-font-size: 0.8rem;
$content-font-size: 1.1rem;

@font-face {
    font-family: "Mark Pro";
    src: url(../../fonts/FontFont_FF.Mark.Pro.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mark Pro", Arial, Helvetica, sans-serif;
}

body {
    background: url(../../static/registration/explore-hero-bg--large.jpg);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.container {
    .registration-card {
        .form_group_slideUp {
            position: relative;
            width: 50%;
            padding: 15px 0 0;
            margin-top: 10px;

            &>input {
                width: 100%;
                border: 0;
                border-bottom: 1px solid $WHITE;
                outline: none;
                font-size: $content-font-size;
                color: $WHITE;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s;

                &::placeholder {
                    color: transparent;
                }

                &:placeholder-shown~label {
                    font-size: $content-font-size;
                    cursor: text;
                    top: 20px;
                }

                &:focus {
                    ~label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: $label-font-size;
                        color: gray;
                    }

                    padding-bottom: 6px;
                    border-bottom: 2px solid $PRIMARY-COLOR;
                }
            }

            &>label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: $label-font-size;
                color: gray;
            }
        }
    }
}