* {
    color: #000;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slantCardContainer {
    // display: flex;
    position: relative;
    width: 600px;
    height: 300px;
}

.slantCard_1 {
    width: inherit;
    height: inherit;
    background: yellow;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.shape-out {
    position: absolute;
    top: 0;
    width: 600px;
    height: 300px;
}

.slantCard_2 {
    width: inherit;
    height: inherit;
    // background: #1E1E1E;
    clip-path: polygon(99% 0%, 100% 0%, 85% 100%, 84% 100%);
    shape-outside: polygon(99% 0%, 100% 0%, 85% 100%, 84% 100%);
    float: right;
}

.imageSlant {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-40%);
    width: inherit;
    height: inherit;
    clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 25% 100%);
    background: url('./annie.jpg');
    background-size: cover;
    background-position: center;
}
