$PRIMARY-COLOR: #D13639;
$PRIMARY-TEXT-COLOR: #f9f9f9;

@mixin common-for-svg($color, $h, $w) {
    height: $h;
    width: $w;
    fill: $color;
    cursor: pointer;
}

@mixin set-letter-spacing {
    letter-spacing: 1px;
}

@font-face {
    font-family: 'FF Mark';
    src: url("../fonts/ff\ mark\ sv/FontFont_FF.Mark.Pro.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FF Mark';

    &::selection {
        background: $PRIMARY-COLOR;
        color: $PRIMARY-TEXT-COLOR;
    }
}

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #111111;
    color: $PRIMARY-TEXT-COLOR;
    z-index: 999;

    &__list {
        &logo {
            list-style: none;

            .k-logo {
                transition: fill 200ms ease-in-out;
                font-size: 13px;
                @include common-for-svg($PRIMARY-TEXT-COLOR, 27px, 85px);

                &:hover {
                    fill: $PRIMARY-COLOR;
                    cursor: pointer;
                }
            }
        }

        display: flex;
        align-items: center;
        gap: 3.3rem;
        margin: 1rem;

        &-item {
            list-style: none;
            position: relative;
            font-size: 13px;
            text-transform: uppercase;
            @include set-letter-spacing;

            &:not(:last-child) {
                &::after {
                    content: "";
                    position: absolute;
                    border-left: 0.35rem solid transparent;
                    border-right: 0.35rem solid transparent;
                    border-top: 0.35rem solid #7E7E7E;
                    top: 50%;
                    margin-left: 5px;
                    transform: translateY(-80%);
                }
            }

            cursor: pointer;

            &:hover {
                text-decoration: 2px underline $PRIMARY-COLOR;
                text-underline-offset: .5rem;
                transition: text-decoration 200ms ease-in-out;
            }

            &:hover ul,
            &:focus ul {
                opacity: 1;
                visibility: visible;
            }

            &drop {
                display: flex;
                flex-direction: column;
                width: 9rem;
                position: absolute;
                top: 200%;
                background: #222222;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;

                li {
                    margin: .5rem;
                    text-transform: capitalize;
                    list-style: none;
                    padding: .5rem;
                    transition: background 200ms ease-in-out;

                    &:hover {
                        background: #333333;
                        border-radius: 5px;
                        color: #C7C7C7;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__align-right {
        list-style: none;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
        justify-content: flex-end;
        align-items: center;

        &__lang {
            .lang-icon {
                @include common-for-svg($PRIMARY-TEXT-COLOR, 1.2rem, 1.2rem);
                margin-right: 1rem;
            }
        }

        &__search {
            display: flex;
            width: 12rem;
            background-color: #2B2A29;
            padding: .5rem .3rem .5rem 1.2rem;
            border-radius: 50px;
            align-items: center;
            margin-right: 1rem;

            .search-icon {
                margin-right: .4rem;
                @include common-for-svg(#fff, 1.3rem, 1.3rem);
            }

            .search-box {
                color: $PRIMARY-TEXT-COLOR;
                border: none;
                font-size: .7rem;
                outline: none;
                background-color: #2B2A29;
                width: 100%;

                &::placeholder {
                    color: #757575;
                    text-transform: uppercase;
                }
            }
        }

        &__signin {
            background-color: $PRIMARY-COLOR;
            color: #111111;
            padding: .7rem .6rem;
            border-radius: 50px;
            margin-right: 2rem;
            padding: .6rem 1rem;
            cursor: pointer;

            a {
                @include set-letter-spacing;
                font-size: .7rem;
                vertical-align: middle;
                text-transform: uppercase;
                color: inherit;
                text-decoration: none;
                font-weight: bold;
            }

            &:hover {
                background-color: $PRIMARY-TEXT-COLOR;
                color: $PRIMARY-COLOR;
                transition: background-color 200ms ease-in-out;
            }
        }
    }
}

.section-container {
    &__1 {
        img {
            width: 100%;
            line-break: 0;
            filter: brightness(0.7);
        }
    }

    &__2 {
        margin-top: -5px;
        background: #0A0A0A;
        color: $PRIMARY-TEXT-COLOR;
        display: grid;
        grid-template-columns: 60% 40%;

        &>p {
            margin: 4rem;
            font-size: 48px;
            font-weight: bold;
        }

        button {
            display: flex;
            justify-self: flex-end;
            align-self: center;
            width: fit-content;
            height: fit-content;
            padding: .4rem .9rem;
            text-transform: uppercase;
            margin-right: 4rem;
            background-color: #222222;
            outline: none;
            border: none;
            letter-spacing: 1px;
            font-size: .75rem;
            font-weight: bold;
            color: $PRIMARY-TEXT-COLOR;
            border-radius: 5px;
            cursor: pointer;
        }

        &__span_2-5 {
            &__card {
                position: relative;
                margin: 0 2rem 0 4rem;
                cursor: pointer;

                img {
                    width: 90%;
                    border-radius: 10px;
                    height: 20.9rem;
                    grid-row: span 2;
                    // padding: .2rem;
                    // &:hover {
                    //     outline: 2px solid gray;
                    //     color: black;
                    // }
                }

                &__text {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    padding: 0 0 1rem 1rem;

                    h {
                        &2 {
                            font-size: 31px;
                        }

                        &3 {
                            font-size: 15px;
                            color: #5D5C5A;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
