$PRIMARY-COLOR: #D13639;

@font-face {
    font-family: 'FF Mark';
    src: url("../fonts/ff\ mark\ sv/FontFont_FF.Mark.Pro.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FF Mark';
}

.nav {
    position: fixed;
    width: 100vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__list {
        &logo {
            list-style: none;

            .k-logo {
                transition: fill 200ms ease-in-out;
                font-size: 13px;

                &:hover {
                    fill: $PRIMARY-COLOR;
                    cursor: pointer;
                }
            }
        }

        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin: 1rem;

        &-item {
            list-style: none;
            position: relative;
            font-size: 13px;
            text-transform: uppercase;

            &drop {
                position: absolute;
                top: 100%;
                background: #fff;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                li {
                    text-transform: capitalize;
                    list-style: none;
                }
            }
        }
    }
}