@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$black : #000;
$white : #fff;
$gray: rgb(202, 190, 190);

@mixin card-shadow($color) {
  box-shadow: 0px 0px 10px $color;
}

* {
    margin: 0;
    padding: 0;
}

.card-container {
    @mixin setLineHeight($lineHeight) {
        line-height: $lineHeight;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    user-select: none;
    .card {
        @include card-shadow($gray);
        border: 1px solid $gray;
        width: 320px;
        padding: 1em;
        height: 320px;
        text-align: center;
        border-radius: 10px;
        margin: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        flex-grow: 1;
        cursor: pointer;
        h2 {
            @include setLineHeight(2.5);
        }
        p {
            @include setLineHeight(1.6);
        }
        img {
            width: 64px;
        }
        a {
            @include setLineHeight(5);
            text-decoration: none;
            border: 1px solid $black;
            color: $white;
            background-color: $black;
            border-radius: 5px;
            padding: 5px 10px;
            font-family: "Open Sans";
        }
    }
}

