<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riot | Registration</title>
    <link rel="stylesheet" href="../css/registration/registration.css" />
</head>

<body>
    <div class="container">
        <div class="registration-card">
            <label for="fname">First Name<span>*</span> :&ensp;</label>
            <input type="text" name="fname" id="fname" placeholder="First Name" required />
            <label for="lname">Last Name<span>*</span> :&ensp;</label>
            <input type="text" name="lname" id="lname" placeholder="Last Name" required />
            <label for="uname">Username<span>*</span> :&ensp;</label>
            <input type="text" id="uname" name="uname" placeholder="Enter Username" required />
            <div></div>
            <div></div>
            <label for="email">E-mail<span>*</span> :&ensp;</label>
            <input type="email" name="email" id="email" placeholder="Enter your Email ID" autocomplete="email"
                required />
            <div></div>
            <div></div>
            <label for="gender">Gender<span>*</span> :&ensp;</label>
            <div class="gender-values">
                <input type="radio" name="gender" id="male" value="male" />
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female" value="female" />
                <label for="female">Female</label>
            </div>
            <div></div>
            <div></div>
            <label for="dob">Date of Birth<span>*</span> &ensp;</label>
            <input type="date" name="dob" id="dob" required>
            <label for="age">Age<span>*</span> :&ensp;</label>
            <input type="text" name="age" id="age" disabled />
            <label for="password">Password<span>*</span> :&ensp;</label>
            <input type="password" name="password" id="password" required />
            <div></div>
            <div></div>
            <label for="confirm-password">Confirm Password<span>*</span> :&ensp;</label>
            <input type="password" name="confirmPassword" id="confirm-password" required />
            <div></div>
            <div></div>
            <label for="ph-no">Phone Number</label>
            <input type="text" name="phNo" id="ph-no" autocomplete="mobile" maxlength="10" />
            <div></div>
            <div></div>
            <div class="agree-to-rules">
                <input type="checkbox" name="agree" id="agree" />
                <label for="agree">I abide all the rules & regulations, also I ensure to provide my credentials when
                    mandatory.</label>
            </div>
            <div class="register-btn">
            <input type="submit" name="register" id="register" value="REGISTER" />
        </div>
        </div>
    </div>
</body>

</html>