@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$COLOR-PRIMARY : #cccfd7;
$COLOR-SECOND : #666c7f;
$COLOR-THIRD : #34363B;
$BG-1 : #202228;
$BG-2 : #202020;

body {
    background: $BG-1 url("../static/diagonal-stripes.png");
    color: $COLOR-PRIMARY;
    font: 400 35px "Inter", sans-serif;
}

.container {
    .header {
        span {
            line-height: 2rem;

            img {
                float: left;
                height: 5rem;
                margin-right: .2em;
            }

            &#sub-heading {
                font-size: 1rem;
                position: absolute;
            }
        }

        .search-box {
            position: relative;
            right: 1rem;
            bottom: 1rem;
            float: right;

            #search-box {
                color: $COLOR-SECOND;
                background-color: #E0E3E6;
                border: none;
                padding: .3rem .2rem;
                width: 14rem;

                &:focus {
                    outline: none;
                }
            }

            #search-button {
                font-weight: bold;
                color: $COLOR-SECOND;
                border: 1px outset #000;
                background-color: $BG-1;
                padding: .3rem .8rem;
            }
        }
    }

    .sub-choices {
        z-index: 999;
    }

    nav {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        background: $BG-2;
        width: max-content;
        clear: both;
        border-radius: .4rem;
        padding: 0 .8rem;

        #navbar {
            &>li {
                &>a {
                    &:hover {
                        background-color: $COLOR-THIRD;
                    }
                }
            }
        }

        ul {
            padding: 0 !important;

            li {
                padding: .5rem .2rem;

                .langs-nav {
                    padding: .5rem;
                    font-size: .9rem;
                    color: #F2FFFF;
                    border-radius: .3rem;

                    &.active {
                        background: $COLOR-THIRD;
                    }
                }

                background: $BG-2;
                list-style: none;
                position: relative;
                display: inline-block;

                ul {
                    position: absolute;
                    top: 3.1rem;
                    display: none;

                    li {
                        width: 200px;
                        float: none;
                        display: list-item;
                        padding-left: .5rem;

                        &:hover>a {
                            color: #fff;
                            background: $COLOR-THIRD;
                        }
                    }
                }

                &:hover {
                    &>ul {
                        display: block;

                        li {
                            &:hover {
                                background-color: $COLOR-THIRD;
                            }
                        }
                    }
                }
            }

            a {
                font-size: .8rem;
                text-decoration: none;
                display: block;
                color: #989eae;
            }
        }
    }
}
