@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  background: #202228 url("../static/diagonal-stripes.png");
  color: #cccfd7;
  font: 400 35px "Inter", sans-serif;
  max-width: 962px;
}

.container .header span {
  line-height: 2rem;
}
.container .header span img {
  float: left;
  height: 5rem;
  margin-right: 0.2em;
}
.container .header span#sub-heading {
  font-size: 1rem;
  position: absolute;
}
.container .header .search-box {
  position: relative;
  right: 0.3rem;
  bottom: 1rem;
  float: right;
}
.container .header .search-box #search-box {
  color: #666c7f;
  background-color: #E0E3E6;
  border: none;
  padding: 0.3rem 0.2rem;
  width: 14rem;
}
.container .header .search-box #search-box:focus {
  outline: none;
}
.container .header .search-box #search-button {
  font-weight: bold;
  color: #666c7f;
  border: 1px outset #000;
  background-color: #202228;
  padding: 0.3rem 0.8rem;
}
.container .sub-choices {
  z-index: 999;
}
.container nav {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  background: #202020;
  width: max-content;
  clear: both;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
}
.container nav #navbar > li > a:hover {
  background-color: #34363B;
}
.container nav ul {
  padding: 0 !important;
}
.container nav ul li {
  padding: 0.5rem 0.2rem;
  background: #202020;
  list-style: none;
  position: relative;
  display: inline-block;
}
.container nav ul li .langs-nav {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #F2FFFF;
  border-radius: 0.3rem;
}
.container nav ul li .langs-nav.active {
  background: #34363B;
}
.container nav ul li ul {
  position: absolute;
  top: 3.1rem;
  display: none;
}
.container nav ul li ul li {
  width: 200px;
  float: none;
  display: list-item;
  padding-left: 0.5rem;
}
.container nav ul li ul li:hover > a {
  color: #fff;
  background: #34363B;
}
.container nav ul li:hover > ul {
  display: block;
}
.container nav ul li:hover > ul li:hover {
  background-color: #34363B;
}
.container nav ul a {
  font-size: 0.8rem;
  text-decoration: none;
  display: block;
  color: #989eae;
}
.container .caption {
  font-size: 0.8rem;
  margin-top: -0.8rem;
  color: #fff;
  border: 1px solid #FF7B09;
  background: linear-gradient(#272727, #070707);
  text-align: center;
}
.container .caption p a:first-child {
  color: #c42494;
  text-decoration: none;
}
.container .caption p a:not(:first-child) {
  color: #FF7B09;
}
