$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

@mixin set-no-user-select($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        @if $prefix == "webkit" {
            -#{$prefix}-#{$property}: $value;
            -#{$prefix}-touch-callout: $value;
        }
        @else {
            -#{$prefix}-#{$property}: $value;
        }
    }
    #{$property}: $value;
}

* {
    @include set-no-user-select(user-select, none, webkit moz ktml ms);
    font-family: $font;
}

.upper-roman-class {
    list-style-type: upper-roman;
    .upper-alpha-class {
        list-style-type: upper-alpha;
        .lower-roman-class {
            list-style-type: lower-roman;
        }
    }
}
