{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        h2 {
            font-size: 2rem;
            margin: 2rem 0;
        }

        .form-group {
            margin: 0 1rem;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h2 class="text-center">Add Item</h2>
        <form action="/push-data/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="fname" class="col-sm-3 col-md-2">Food Name</label>
                <div class="col-sm-9 col-md-10">
                    <input type="text" name="fname" id="fname" class="form-control" />
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="rname" class="col-sm-3 col-md-2">Restaurant Name</label>
                <div class="col-sm-9 col-md-10">
                    <input type="text" name="rname" id="rname" class="form-control" />
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="image" class="col-sm-3 col-md-2">Image</label>
                <div class="col-sm-9 col-md-10">
                    <input type="file" class="form-control" id="image" name="image" accept=".png,.jpg,.jpeg,.svg,.gif" />
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="place" class="col-sm-3 col-md-2">Place</label>
                <div class="col-sm-9 col-md-10">
                    <input type="text" name="place" id="place" class="form-control" />
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="rating" class="col-sm-3 col-md-2">Rating</label>
                <div class="col-sm-9 col-md-10">
                    <input type="text" name="rating" id="rating" class="form-control" />
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="price" class="col-sm-3 col-md-2">Price</label>
                <div class="col-sm-9 col-md-10">
                    <input type="text" name="price" id="price" class="form-control" />
                </div>
            </div>
            <br>
            <br>
            <div class="text-center row">
                <p class="col-1"></p>
                <input type="submit" value="UPLOAD" class="btn btn-primary col-10" name="submit" />
                <p class="col-1"></p>
            </div>
        </form>
    </div>
</body>

</html>
