section {
    position: relative;
    height: 180px;
    width: 400px;
    background: #000;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    padding: .2rem; /* declare card-pad-section-2 */
    z-index: 999;
}

.content {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 1rem;
    color: white;
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: border-box;
}

section:hover {
    outline: 2px solid gray;
    border-radius: 12px;
}

.makeSlant {
    height: 100%;
    box-sizing: border-box;
    border-left: 50px solid #000;
    border-bottom: 180px solid transparent;
    z-index: 999;
    margin-left: -3px;
}

.mainImage {
    position: absolute;
    margin-right: .2rem; /* adding card-pad-section-2 */
    height: calc(100% - .4rem); /* subtract 2*(card-pad-section-2) from 100% */
    width: 50%;
    right: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: url('./annie.jpg') no-repeat;
    background-size: cover;
    /* z-index: 1; */
}
