section {
    position: relative;
    height: 280px;
    width: 1200px;
    background: #000;
    display: flex;
    background-color: transparent;
}

.content {
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: border-box;
}

.imageBox {
    height: 100%;
    box-sizing: border-box;
    border-left: 100px solid #000;
    border-bottom: 280px solid transparent;
}

.mainImage {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    background: url('./marquee-raze-thumb.png') no-repeat;
    z-index: -1;
}
