section {
    position: relative;
    height: 280px;
    width: 1200px;
    background: #000;
    display: flex;
    background-color: transparent;
}

.content {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 1rem;
    color: white;
    width: 50%;
    height: 100%;
    background: #000;
    box-sizing: border-box;
}

section:hover {
    outline: 2px solid gray;
    border-radius: 12px;
}

.makeSlant {
    height: 100%;
    box-sizing: border-box;
    border-left: 100px solid #000;
    border-bottom: 280px solid transparent;
}

.mainImage {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: url('./annie.jpg') no-repeat;
    background-size: cover;
    z-index: -1;
}
