{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Hello</title>
</head>
<body>
    {% for eachData in displayInPublic %}
        <div class="box">
            <h1>{{ eachData.name }}</h1>
            <p>@{{ eachData.location }}</p><br>
            <p>{{ eachData.description }}</p>
            <p><i>Posted By : {{ eachData.postedBy }}</i></p>
        </div>
    {% endfor %}
    {% block eliminate %}
        <a href="{% url 'p1-url' %}">Only User published posts</a><br>
        <a href="{% url 'p2-url' %}">Page 2 - Link</a><br>
        <a href="{% url 'p3-url' %}">Page 3 - Link</a><br>
        {% comment %}
        What actually happens in this p4-url is,
        Initially, when "index" fn from the  views.py is invoked, "mydata" context passes both name and uname.
        The "uname" is passed again as context for "p4-url".
        This 'p4-url' finds the match as the slug in the 4th url of urls.py
        Now, in this 4th URL, the 'mydata.uname' is passed as parameter to views.p4 along with HttpRequest
        It is called like views.p4(HttpRequest, userName='Patcha-Kiran-Deep')
        So now we have a dedicated link/url for that username and can perform required operations via render in that p4 function -->
        {% endcomment %}
    {% endblock %}
</body>
{% block unlink-js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
</html>