{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Hello</title>
</head>
<body>
    <h1>This is the home page, Used - {{mydata.name}}</h1>
    <a href="{% url 'p1-url' %}">Page 1 - Link</a><br>
    <a href="{% url 'p2-url' %}">Page 2 - Link</a><br>
    <a href="{% url 'p3-url' %}">Page 3 - Link</a><br>
    <a href="{% url 'p4-url' mydata.uname %}">Page 4 - Link</a><br>
</body>
<script src="{% static 'js/home.js' %}"></script>
</html>